body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  color: #333333;

}

.main {
  padding: 20px;
}

input {
  font-family: "karla", sans-serif;
  font-size: 15px;
  color: #333333;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 18pt;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}